@use 'hero';

@font-face {
    font-family: old-stefan-regular;
    src: url(../Font/OldStefan-Regular.woff2);
};

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: old-stefan-regular;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}